/* index css ------------------------------------------------------------------------ */
.Desktop1 {
  width: 1440px;
  height: 1024px;
  position: relative;
  background: white;
}

.BridgingDevsToBuisness {
  width: 424px;
  height: 44px;
  left: 503px;
  top: 736px;
  position: absolute;
  text-align: center;
  color: black;
  font-size: 32px;
  font-family: Farro;
  font-weight: 400;
  word-wrap: break-word;
}

.BuisnessPortionLogoV11 {
  width: 299px;
  height: 258px;
  left: 29px;
  top: 167px;
  position: absolute;
}

.Untitled31 {
  width: 251px;
  height: 181px;
  left: 1115px;
  top: 244px;
  position: absolute;
}

.DevbridgeLogoV12 {
  width: 606px;
  height: 576px;
  left: 412px;
  top: 59px;
  position: absolute;
}

.Group1 {
  width: 510px;
  height: 112px;
  left: 460px;
  top: 866px;
  position: absolute;
}

.Rectangle1 {
  width: 510px;
  height: 112px;
  left: 0px;
  top: 0px;
  position: absolute;
  background: #8AE87B;
  border-radius: 38px;
}

.HelpUsHelpYou {
  width: 475px;
  height: 24px;
  left: 17px;
  top: 32px;
  position: absolute;
  text-align: center;
  color: black;
  font-size: 48px;
  font-family: Inter;
  font-weight: 400;
  word-wrap: break-word;
}


/* sign up sheet css ---------------------------------------------------------------------------------------------------------------- */

* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
    color: bisque;
    background-color: lightcyan;
  }
  
  form {
    max-width: 400px;
    margin: 35px auto;
    border-radius: 10px;
    padding: 10px 15px;
    background: rgb(85, 227, 87);
  }
  
  h1 {
    margin: 0 0 30px 0;
    text-align: center;
    margin-top: 5px;
  }
  
  .alert {
    text-align: center;
    padding: 10px;
    background: rgb(168, 240, 177);
    color: green;
    margin-bottom: 10px;
    display: none;
  }
  
  input[type='text'],
  input[type='email'],
  input[type='company_name'],
  textarea,
  select {
    background: lightsteelblue;
    border: 1px;
    margin-bottom: 25px;
    box-shadow: 2px;
    color: beige;
    background-color: rgb(142, 143, 223);
    width: 100%;
    padding: 15px;
    margin: 0;
    height: auto;
    font-size: 15px;
  }
  
  select {
    padding: 6px;
    height: 32px;
    border-radius: 2px;
  }
  
  fieldset {
    margin-bottom: 30px;
    border: none;
  }
  
  legend {
    display: block;
    margin-bottom: 8px;
  }
  
  label.light {
    font-weight: 300;
    display: inline;
  }
  
  .section {
    background-color: rgb(68, 114, 221);
    color: white;
    height: 29px;
    display: inline-block;
    width: 29px;
    border-radius: 100%;
    text-align: center;
    line-height: 30px;
    margin-right: 4px;
    font-size: 0.7em;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
  }
  
  button {
    padding: 25px 40px;
    color: whitesmoke;
    background-color: rgb(36, 159, 235);
    font-size: 15px;
    margin: 30px 0px 0px;
    width: 100%;
    text-align: center;
    border-radius: 5px;
  }
  
  @media screen and (min-width: 480px) {
    form {
      max-width: 480px;
    }
  }
  