/* index css ------------------------------------------------------------------------ */

.container {
  width: 100%;
  height: 100%;
  position: relative;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.logo {
  width: 100%;
  height: auto;
  max-width: 606px;
  display: block;
  margin: 50px auto;
}

.about-section {
  width: 100%;
  height: auto;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 50px;
  position: relative;
  background: linear-gradient(#C3A3D8, #9198e5);
  border-radius: 30px;
}

.about-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(#C3A3D8, #9198e5);
  border-radius: 30px;
  opacity: 0.7;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-text-container {
  position: relative;
  padding: 20px;
}

.about-text {
  text-align: center;
  color: black;
  font-size: 36px;
  font-family: Inter;
  font-weight: 400;
  word-wrap: break-word;
  padding: 30px;
}

.content {
  width: 100%;
  height: auto;
  text-align: center;
  margin-top: 100px;
}

.content-overlay {
  width: 100%;
  height: 100%;
  position: relative;
  background: linear-gradient(#C3A3D8, #9198e5);
  border-radius: 38px;
  opacity: 0.7;
  z-index: -1;
}

.content-text {
  width: 100%;
  height: 100%;
  position: relative;
  text-align: center;
  margin-top: -50px;
  z-index: 1;
}

.signup-button {
  display: inline-block;
  padding: 10px 20px;
  background: linear-gradient(#C3A3D8, #9198e5);
  color: black;
  font-size: 40px;
  font-family: Inter;
  font-weight: 400;
  text-decoration: none;
  border-radius: 15px;
  border: none;
  cursor: pointer;
}

.signup-button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}



/* Media Queries */

@media only screen and (min-width: 768px) {
  /* Styles for screens larger than 768px */
  .container {
    width: 768px;
    height: 100%;
    margin: 0 auto;
  }

  .about-section {
    width: 80%;
    height: auto;
    margin: 40px auto;
  }
}

@media only screen and (min-width: 1024px) {
  /* Styles for screens larger than 1024px */
  .container {
    width: 1024px;
    height: 100%;
    margin: 0 auto;
  }

  .about-section {
    width: 858px;
    height: auto;
    margin: 60px auto;
  }
}

  
  
  
  
  
  
  
  /* sign up sheet css ---------------------------------------------------------------------------------------------------------------- */
  
  * {
      box-sizing: border-box;
    }
    
    body {
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif;
      color: #6273a0;
      text-shadow: 0.5px 0.5px 0.5px rgb(78, 77, 77);
      background-color: lightcyan;
    }
    
    form {
      max-width: 400px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 10px;
      padding: 10px 15px;
      background: #C3A3D8;
    }
    
    
    
    h1 {
      margin: 0 0 30px 0;
      text-align: center;
      margin-top: 5px;
    }
    
    .alert {
      text-align: center;
      padding: 10px;
      background: rgb(151, 30, 175);
      color: rgb(235, 52, 251);
      margin-bottom: 10px;
      display: none;
    }
    
    input[type='text'],
    input[type='email'],
    input[type='company_name'],
    textarea,
    select {
      background: lightsteelblue;
      border: 1px solid rgb(162, 162, 162);
      margin-bottom: 25px;
      box-shadow: 2px;
      color: rgb(0, 0, 0);
      background-color: rgb(255, 255, 255);
      width: 100%;
      padding: 15px;
      margin: 0;
      height: auto;
      font-size: 15px;
      max-width: 100%; /* Added max-width property to ensure the element does not exceed the width of the media screen */
      border-radius: 10px;
    }
    
    
    select {
      padding: 6px;
      height: 32px;
      border-radius: 2px;
    }
    
    fieldset {
      margin-bottom: 30px;
      border: none;
    }
    
    legend {
      display: block;
      margin-bottom: 8px;
    }
    
    label.light {
      font-weight: 300;
      display: inline;
    }
    
    .section {
      background-color: #000000;
      color: white;
      height: 29px;
      display: inline-block;
      width: 29px;
      border-radius: 100%;
      text-align: center;
      line-height: 30px;
      margin-right: 4px;
      font-size: 0.7em;
    }
    
    label {
      display: block;
      margin-bottom: 8px;
    }
    
    button {
      padding: 25px 40px;
      color: whitesmoke;
      background-color: rgb(0, 0, 0);
      font-size: 20px;
      margin: 30px 0px 0px;
      width: 100%;
      text-align: center;
      border-radius: 10px;
      resize: none;
      max-width: 100%;
    }
    
    @media screen and (min-width: 500px) {
      form {
        max-width: 500px;
      }
    }
    body,html{
      width:100%;
      height: 100%;
    }
    body{
      margin:0;
      padding:0;
      background:#A8A3D8;
    }
    .bubbles{
      position:absolute;
      width:100%;
      height: 100%;
      z-index:0;
      overflow:hidden;
      top:0;
      left:0;
    }
    .bubble{
      position: absolute;
      bottom:-100px;
      width:40px;
      height: 40px;
      background:#f1f1f1;
      border-radius:50%;
      opacity:0.5;
      animation: rise 10s infinite ease-in;
    }
    .bubble:nth-child(1){
      width:40px;
      height:40px;
      left:10%;
      animation-duration:8s;
    }
    .bubble:nth-child(2){
      width:20px;
      height:20px;
      left:20%;
      animation-duration:5s;
      animation-delay:1s;
    }
    .bubble:nth-child(3){
      width:50px;
      height:50px;
      left:35%;
      animation-duration:7s;
      animation-delay:2s;
    }
    .bubble:nth-child(4){
      width:80px;
      height:80px;
      left:50%;
      animation-duration:11s;
      animation-delay:0s;
    }
    .bubble:nth-child(5){
      width:35px;
      height:35px;
      left:55%;
      animation-duration:6s;
      animation-delay:1s;
    }
    .bubble:nth-child(6){
      width:45px;
      height:45px;
      left:65%;
      animation-duration:8s;
      animation-delay:3s;
    }
    .bubble:nth-child(7){
      width:90px;
      height:90px;
      left:70%;
      animation-duration:12s;
      animation-delay:2s;
    }
    .bubble:nth-child(8){
      width:25px;
      height:25px;
      left:80%;
      animation-duration:6s;
      animation-delay:2s;
    }
    .bubble:nth-child(9){
      width:15px;
      height:15px;
      left:70%;
      animation-duration:5s;
      animation-delay:1s;
    }
    .bubble:nth-child(10){
      width:90px;
      height:90px;
      left:25%;
      animation-duration:10s;
      animation-delay:4s;
    }
    @keyframes rise{
      0%{
        bottom:-100px;
        transform:translateX(0);
      }
      50%{
        transform:translate(100px);
      }
      100%{
        bottom:1080px;
        transform:translateX(-200px);
      }
    }
  